// Vars 

// Primary
$primary50: #e5f6ff;
$primary100: #bedbf6;
$primary200: #95bdea;
$primary300: #6c9fe0;
$primary400: #447ed6;
$primary500: #2a60bc;
$primary600: #1f4793;
$primary700: #14386a;
$primary800: #082642;
$primary900: #00101c;

// Secondary
$secondary50: #faebff;
$secondary100: #e4c7ed;
$secondary200: #cda3dd;
$secondary300: #b67ece;
$secondary400: #9c59bf;
$secondary500: #803fa5;
$secondary600: #613181;
$secondary700: #49235d;
$secondary800: #301439;
$secondary900: #150518;

// Surface
$surface50: #1e1d23; 
$surface100: #28272d; // light 
$surface200: #2b2d35; // circles
$surface400: #292832;
$surface500: #191a1f; // dark 

// Main
$main: #0f0f11;

// Light
$light50: #fff;
$light100: #eee;
$light200: #ddd;
$light300: #ccc;
$light400: #bfbfbf;
$light500: #afafaf;
$light600: #6f6f6f;
